$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary: #6495ed,
  secondary: #435d8c,
  danger: #f53d3d,
  light: #f4f4f4,
  lightgrey: #cccccc,
  dark: #222
);

// Top Toolbar
$toolbar-background: color($colors, secondary);

// Bottom Tabs
$tabs-background: color($colors, secondary);
$tabs-tab-color-active: color($colors, light);
$tabs-tab-color-inactive: color($colors, lightgrey);
$tabs-md-tab-color-inactive: color($colors, lightgrey);
$tabs-tab-color: color($colors, light);
$tabs-tab-text-color: color($colors, light);

// Default Background
ion-content {
  background-color: color($colors, primary) !important;
}

// Custom Lists

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

